* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.scene {
  width: 180px;
  height: 180px;
  margin: 80px;
  perspective: 400px;
}

.rubik {
  width: 180px;
  height: 180px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-90px);
  transition: transform 1s;
}

.rubik_face {
  position: absolute;
  width: 180px;
  height: 180px;
  /* border: 2px solid black; */
  line-height: 180px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.rubik_face--front {
  background: hsla( 0, 100%, 50%, 1.0);
}

.rubik_face--right {
  background: hsla( 60, 100%, 50%, 1.0);
}

.rubik_face--back {
  background: hsla(120, 100%, 50%, 1.0);
}

.rubik_face--left {
  background: hsla(180, 100%, 50%, 1.0);
}

.rubik_face--top {
  background: hsla(240, 100%, 50%, 1.0);
}

.rubik_face--bottom {
  background: hsla(300, 100%, 50%, 1.0);
}

.rubik_face--front {
  transform: rotateY( 0deg) translateZ(90px);
}

.rubik_face--right {
  transform: rotateY( 90deg) translateZ(90px);
}

.rubik_face--back {
  transform: rotateY(180deg) translateZ(90px);
}

.rubik_face--left {
  transform: rotateY(-90deg) translateZ(90px);
}

.rubik_face--top {
  transform: rotateX( 90deg) translateZ(90px);
}

.rubik_face--bottom {
  transform: rotateX(-90deg) translateZ(90px);
}

.cube_face {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  float: left;
}
